<form method="get" class="mb-3 d-flex gap-2 flex-wrap">

<input
type="text"
name="search"
placeholder="Поиск"
value="{{ request.GET.search }}"
class="form-control"
style="max-width:220px;"
onchange="this.form.submit()"
>


{% if filter_queryset %}

<select
name="{{ filter_field }}"
class="form-select"
style="max-width:200px;"
onchange="this.form.submit()"
>

<option value="">
{{ filter_label }}
</option>

{% for obj in filter_queryset %}

<option
value="{{ obj.pk }}"
{% if selected_filter == obj.pk|stringformat:"s" %}
selected
{% endif %}
>

{{ obj }}

</option>

{% endfor %}

</select>

{% endif %}


{% if second_filter_queryset %}

<select
name="{{ second_filter_field }}"
class="form-select"
style="max-width:200px;"
onchange="this.form.submit()"
>

<option value="">
{{ second_filter_label }}
</option>

{% for obj in second_filter_queryset %}

<option
value="{{ obj.pk }}"
{% if selected_second_filter == obj.pk|stringformat:"s" %}
selected
{% endif %}
>

{{ obj }}

</option>

{% endfor %}

</select>

{% endif %}


{% if sort_fields %}

<select
name="sort"
class="form-select"
style="max-width:220px;"
onchange="this.form.submit()"
>

<option value="">
Сортировка
</option>

{% for value,label in sort_fields %}

<option
value="{{ value }}"
{% if selected_sort == value %}
selected
{% endif %}
>

{{ label }}

</option>

{% endfor %}

</select>

{% endif %}


<a href="{{ reset_url }}" class="btn btn-secondary">
Сбросить
</a>

</form>